*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
}
.wins-loses{
    width: 50%;
    margin: 0 auto 20px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.game{
    padding-top: 20px;
}
.right-word{
    display: block;
    color: grey;
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
}
.gallow-img{
    display: block;
    margin: auto;
}
.word {
    text-align: center;
    align-items: center;
    font-size: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    /*padding: 0 200px;*/
    width: 50%;
    margin: 50px auto;
}
form{
    margin: auto;
}
.keyboard--btn{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20%;
    border: 2px solid black;
    margin-right: 10px;
}
button.keyboard--btn:disabled{
    background-color: lightgray;
}
button.keyboard--btn:hover{
    cursor: pointer;

}
.word--icon{
    display: block;
    width: 20px;
    height: 50px;
    border-bottom: 5px solid black;
}
.wrap{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto auto 8px;

}
.keys-fail{
    background-color: darkred;
    color: white;
}
button.keys-fail:disabled{
    background-color: lightcoral;
}
.keys-right{
    background-color: darkgreen;
    color: white;
}
button.keys-right:disabled{
    background-color: lightgreen;
    color: white;
}
.btns{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 20px auto ;
}
.reset-score--btn,
.restart--btn{
    display: block;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    min-width: 100px;
}
.wrap-1{
    padding:0 40px ;
}.wrap-2{
    padding:0 80px ;
}.wrap-3{
    padding:0 120px ;
}